div {
    background-color:aqua;
    width: 90%;
    height: 70px;
    border: 2px solid black;
    margin: auto;
    border-radius: 50px;
    padding-left: 20px;
}

div.aboutme {
    background-color: orange;
    width: 70%;
    height: 300px;
    border-radius: 50px;
    margin: auto;
    padding: 10px;
}